.login-section {
    h1 {
        padding: 4rem 4.8rem;
        text-align: center;
        font-size: 2.8rem;
        line-height: 1.385;
        font-weight: 600;
    }

    p, a {
        font-size: 1.4rem;
    }
    a {
        font-size: 1.6rem;
        font-weight: 700;
    }

    .asterix {
        color: #00754a;
        font-size: 1.4rem;
        margin-right: 0.4rem;
    }
    p {
        font-size: 1.6rem;
    }

    .keep-signed {
        display: flex;
        align-items: center;
        padding-block: 1rem;
        margin-block: 1.6rem;


        .checkbox {

            label {
                color: #fff;
                border-radius: 25%;
                border: 1.5px solid #00754a;
                display: inline-block;
                width: 2.4rem;
                height: 2.4rem;
                font-size: 2rem;
                margin-right: 0.5em;
            }
            &:has(input:checked) {
                label {
                    background: #00754a;

                }
            }

            input {
                appearance: none;
            }
        }
    }
    .links {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
    }
    .signin-btn {
        display: flex;
        justify-content: flex-end;
        margin-top: 4rem;
    }
    .sign-in-content {
        max-width: 38rem;
        text-align: center;
        margin: 5rem auto;

        h3 {
            color: #00754a;
            font-size: 1.6rem;
        }
        p {
            padding-block: 1.6rem;
        }
    }
}