.sosial-links-list {
    display: flex;
    .sosial-link {
        font-size: 1.9rem;
        margin-right: 1rem;
        border-radius: 50%;
        color: #fff;
        background: #000;
        position: relative;
        width: 3.2rem;
        height: 3.2rem;
        position: relative;
        transition: all .5s;
        svg {
            position: absolute;
            top: 20%;
            left: 20%;
        }
    }
}