.main-layout {
        overflow-x: clip;

        @keyframes proggress {
                0% {
                        transform: translateX(-100%);
                }

                100% {
                        transform: translateX(500%);
                }
        }
        &:has(.product) {
                .footer {
                        padding-bottom: 15.4rem;
                }
        }



        main {
                position: relative;

                &::before {
                        content: "";
                        position: absolute;
                        top: -10rem;
                        height: 0.6rem;
                        width: 20%;
                        background: #00754a;
                        animation: proggress 1s;
                        transform: translateX(-100%);
                        z-index: 9;

                }
        }

        .page-layout {
                padding-top: 7.3rem;

        }

        &:has(.visible) {
                height: 100vh;
        }
        &:has(.customize-modal:is(.open)){
                height: 100vh;
                overflow-y: hidden;
        }

        @media screen and (min-width: 320px) {
                &:has(.visible) {
                        overflow-y: clip;
                }

                .page-layout {
                        padding-top: 7.3rem;
                }
        }

        @media screen and (min-width: 772px) {
                &:has(.visible) {
                        overflow-y: visible;
                }

                .page-layout {
                        padding-top: 0;
                }
        }
}