.faqs-section {
    .section-header {
        text-align: start !important;
        padding-block: 6.4rem;

    }

    .faqs-content {
        background: #f9f9f9;
        .content-header {
            margin-bottom: 3rem;
        }
        .row {
            display: grid;

            h3,
            p {
                padding-bottom: 1.6rem;
            }
            .col {
                padding-bottom: 3.2rem;
            }
        }

        h3 {
            font-weight: 700;
            color: rgba(0, 0, 0, .58);
        }

        h3,
        p {
            font-size: 1.4rem;
        }
    }

    @media screen and (min-width: 320px) {
        .faqs-content {
.row {
    grid-template-columns: 1fr;
}
        }
    }

    @media screen and (min-width: 768px) {
        .faqs-content {
.row{
    grid-template-columns: 1fr 1fr;
    gap: 3.2rem;
}
        }
    }

    @media screen and (min-width: 1024px) {
        .faqs-content {}
    }
}