
.rewards-navbar {
    position: sticky;
    top: 0;
    background: #1e3932;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.12), 0 0 2px 0 rgba(0,0,0,.24);
    z-index: 2;

    h2 {
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        font-weight: 700;
        .title {
            position: relative;
            margin-right: .8em;
            &::after {
                content: "®";
                position: absolute;
                top: 0;
                right: -0.45em;
                font-size: 0.5em;
            }
        }
    }
}


@media screen and (min-width: 320px) {
    .rewards-navbar {
        padding-inline: 1.6rem;
        h2 {
            margin-left: 0;
            font-size: 1.3rem;
        }
        .join-btn {
            visibility: visible;
        }
    }


}

@media screen and (min-width: 772px) {

    .rewards-navbar {
        padding-inline: 4rem;
        h2 {
            margin-left: 9rem;
            font-size: 1.6rem;
        }
        .join-btn {
            visibility: visible;
        }
    }

}

@media screen and (min-width: 1024px) {}