.join-section {
    padding-bottom: 4.8rem;
    h1 {
        padding: 4.8rem;
        text-align: center;
        font-size: 2.8rem;
        line-height: 1.385;
        font-weight: 600;
    }

    p {
        font-size: 1.4rem;
    }

    a {
        font-size: 1.6rem;
        font-weight: 700;
    }

    .asterix {
        color: #00754a;
        font-size: 1.4rem;
        margin-right: 0.4rem;
    }

    p {
        font-size: 1.6rem;
    }

    .form-group {
        padding-bottom: 4rem;
    }

    .required-hint {
        padding-bottom: 3.2rem;
    }

    .join-dropdown {
        &:is(.open) {
            color: red;
        }
    }

    input[type="checkbox"] {
        appearance: none;
    }

    .join-dropdown-container {
        .join-dropdown-title {
            display: flex;
            align-items: center;

            &:has(input:checked) .chevron {
                transform: rotate(180deg) translateY(10%);
            }
        }

        .chevron {
            color: #00754a;
            margin-left: 1em;
            font-size: 1.6rem;
            transition: transform 0.5s;
            transform: rotate(0) translateY(20%);

        }

        .join-dropdown {
            display: none;
            transition: transform 1s;
            transform: translateY(20%);
        }

        &:has(input:checked) {
            .join-dropdown {
                display: block;
            }
        }
    }

    .join-extra-content {
        display: flex;
        flex-direction: column;
       // align-items: center;
        //justify-content: flex-start;
        padding-block: 1rem;
        margin-block: 1.6rem;

        h3 {
            color: rgba(0,0,0,.58);
            font-size: 1.4rem;
            font-weight: 700;
            margin-bottom: 2.4rem;
        }
        h5 {
            font-size: 1.6rem;
            font-weight: 400;
        }
        p {
            padding-block: 1em;
        }

        .check {
            display: flex;
        }


        .checkbox {

            label {
                color: #fff;
                border-radius: 25%;
                border: 1.5px solid #00754a;
                display: inline-block;
                width: 2.4rem;
                height: 2.4rem;
                font-size: 2rem;
                margin-right: 0.5em;
            }

            &:has(input:checked) {
                label {
                    background: #00754a;

                }
            }


        }
    }

    .join-btn {
        display: flex;
        justify-content: flex-end;
        margin-top: 4rem;
    }

    .description {
        max-width: 50rem;
        text-align: center;
        margin: 0 auto 5rem;
        color: rgba(0, 0, 0, .58);

        h3 {
            font-size: 1.6rem;
            padding-bottom: 1.6rem;
        }

        p {
            padding-inline: 4rem;

            .more {
                font-size: inherit;
                font-weight: inherit;
                text-decoration: underline;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}