.header {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1), 0 2px 2px rgba(0, 0, 0, .06), 0 0 2px rgba(0, 0, 0, .07);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(0, 0, 0, .87);
    position: relative;

    .navbar {

        display: flex;
        transition: transform .5s;
        background: #fff;

        .navlink>a {
            display: inline-block;
            letter-spacing: 0.1rem;
            transition: all 0.5s;

            svg {
                margin-right: 0.8rem;
            }

            &:hover {
                color: #00754a;
            }

        }

        &__list {
            display: flex;


        }
    }
}

@media screen and (min-width: 320px) {
    .header {
        padding-inline: 1.6rem;

        .navbar {
            width: 80%;
            height: calc(100vh - 7.3rem);
            flex-direction: column;
            position: absolute;
            z-index: 5;
            top: 7.3rem;
            right: 0;
            padding: 3.2rem;

            hr {
                display: block;
            }

            &__list {
                align-items: flex-start;
                flex-direction: column;

                &--left-side {
                    text-transform: capitalize;
                    font-weight: 400;
                    font-size: 1.9rem;

                }

                &--right-side {
                    margin-top: 3.2rem;
                    flex-direction: column-reverse;
                    font-weight: 600;
                    font-size: 1.6rem;

                }
            }

            .navlink>a {
                display: inline-block;
                padding-block: 1.6rem;
            }

            &:is(.hidden) {
                transform: translateX(110%);
            }

            &:is(.visible) {
                transform: translateX(0);

            }
        }
    }

}

@media screen and (min-width: 768px) {
    .header {
        padding-inline: 2.4rem;


        .navbar {
            width: 100%;
            height: 100%;
            position: static;
            flex-direction: row;
            justify-content: space-between;
            padding: 0;

            hr {
                display: none;
            }

            &__list {
                align-items: center;
                flex-direction: row;

                &--left-side {
                    text-transform: uppercase;
                    font-weight: 900;
                    font-size: 1.4rem;
                }

                &--right-side {
                    flex-direction: row;
                    margin-top: 0;
                    font-weight: 400;
                    font-size: 1.4rem;
                }
            }

            .navlink>a {
                padding-block: 4rem;
                margin-right: 2.4rem;


                &:is(.active) {
                    box-shadow: inset 0 -6px #00754a;
                }
            }
        }
    }

}

@media screen and (min-width: 1024px) {
    .header {
        padding-inline: 4rem;
    }
}