.footer {
    box-shadow: 0 -1px 3px rgba(0, 0, 0, .1), 0 -2px 2px rgba(0, 0, 0, .06), 0 0 2px rgba(0, 0, 0, .07);
    padding-block: 2.4rem;

    hr {
        box-shadow: none;
        margin-block: 3.2rem;
    }

    p {
        color: rgba(0,0,0,.58);
        padding-block: 1.6rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: -.01em;
    }
}


@media screen and (min-width: 320px) {
    .footer {
        .footer-navigation {
            display: block;
        }
    }
}

@media screen and (min-width: 1024px) {
    .footer {
        .footer-navigation {
            display: flex;
        }
    }
}