.banner {
    display: flex;

    &__content {
        width: 50%;
        color: rgba(0, 0, 0, .87);
        padding-block: 3.2rem;

        h1 {
            font-weight: 600;
            text-transform: uppercase;
        }

        p {
            font-weight: 400;
            padding-top: 1em;
            padding-bottom: 3.2rem;

            a {
                text-decoration: underline;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }


}

@media screen and (min-width: 320px) {
    .banner {
        font-size: 1rem;
        justify-content: center;
        background: url('../../../assets/images/rewards/star_sm.webp') center/cover;

        &__content {
            padding-inline: 1.6rem;
            margin-block: 5em 50em;
            text-align: center;


            h1 {
                font-size: 2.4rem;
            }

            p {
                font-size: 1.6rem;
            }
        }
    }

}

@media screen and (min-width: 768px) {

    .banner {
        justify-content: flex-start;
        background-image: url('../../../assets/images/rewards/star_xl.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-size: 1.2rem;
        background-color: rgb(212, 233, 226);

        &__content {
            padding-inline: 2.4rem;
            margin-block: 20em;
            text-align: start;


            h1 {
                font-size: 3.6rem;
            }

            p {
                font-size: 1.9rem;
            }
        }


    }
}

@media screen and (min-width: 1024px) {
    .banner {
        &__content {
            padding-inline: 4rem;
        }
    }
}